/*====================================
           Services cards
 ====================================*/
 #services-cards {
     margin-top: 5px;
 }
 #services-cards p {
    text-align: justify;
}

#services-cards h5 {
    font-family: cursive;
    font-weight: 800;
}
#services-cards div div i {
    font-size: 60px;
    color: #fff;
}

#service-card-id {
    background-color: rgba(8.6, 5.9, 18.8, 1);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 1);
    padding: 20;
}

#service-card-id hr {
    width: 70%;
    height: 2px;
    margin: 0 none;
    background-color: #f09b47;
    font-size: 100px;
    margin: 0 none;
}

#services #services-cards .card {
    margin-bottom: 20px;
}
/* hover event */
#service-card-id:hover{
    border-color: rgb(12, 8, 25);
    transform: scale(1.02);
    overflow: hidden;
}

#service-card-id:hover div {
    background-color: rgb(15, 10, 30);
}

#service-card-id:hover h5 {
    font-size: 120%;
    color: #f4c613;
}
#service-card-id:hover i {
    color:#04c2c9;
    transform: rotate3d(0, 1, 0, 40deg);
}

#service-card-id:hover div {
    color: white;
}

#service-card-id:hover hr {
    width: 100%;
    background-color: #fff;
}

#service-card-id div,
#service-card-id i,
#service-card-id h5,
#service-card-id hr,
#service-card-id {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 350ms;
    transition-duration: 350ms;
}

/*====================================
           Request service button
 ====================================*/

/*====================================
           Request service form
 ====================================*/
.input-field {
    
}

#submit-request-button {
    align-self: center;
}
/*====================================

           Responsive behaviour
 ====================================*/

@media (min-width: 768px) and (max-width: 1199px){
    #services div.content-box-md {
        padding: 86px 0 10px 0;
    }

    #services-cards div div i {
        font-size: 50px;
    }
    
    #services-cards h5 {
        font-size: 1.1rem;
    }

    #services-cards p {
        line-height: 20px;
    }

}

@media (min-width: 0px) and (max-width: 767px){
    #services div.content-box-md {
        padding: 86px 0 10px 0;
    }

    #services-cards div div i {
        font-size: 45px;
    }

    #services-cards h5 {
        font-size: 1rem;
    }

    #services-cards p {
        font-size: 13px;
        line-height: 15px;
    }

}