/*====================================
           Html, Base
 ====================================*/
/*
title Lato Semibold Italic
on DejaVu Sans ExtraLight
text 
*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p, form .form-group {
    font-family: "Open Sans", sans-serif;
/*    font-size: small;
    font-weight: 400; */
    line-height: 24px;
}
/*====================================
           Preloader
 ====================================*/
#preloader {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#preloader-status {
    background-image: url("./static_images/Infinity_preloader.gif");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
}

/*====================================
           Static Background
 ====================================*/
#bg-img {
    background: url(./static_images/ground.jpg) no-repeat;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;

}

#overlayer {
    /* #fee2c6*/
    background-color:#fee2c6;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
}

/*====================================
           Navbar
 ====================================*/
nav {
    background-color: #ffcc99;
    box-shadow: 0px 0px 5px #888888;
    font-family: noto serif;
    font-weight: Bold;
    font-style: italic;
}

#brand-id {
    font-size: 200%;
    padding: 0;
    margin:0 10px 0 0;
}

#logo-id {
    width: 45px;
    position: relative;
    transform: translateY(-3px);
}
#card-icon-id {
    padding-top: 0%;
    padding-bottom: 0%;
    border: 0%;
    margin-top: 5%;
    font-size: 1.6em;
    color: black;
}

nav div ul li a span {
    padding-left: 3%;
    padding-right: 3%;
    border: 0%;
    margin: 0%;
}

/*Animations
#brand-id:hover {
    animation-duration: 500ms;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border-bottom: #000000;
    color: orange;
}*/

nav div ul li a:hover {
    transition-duration: 300ms;
    border-radius: 1.2em;
    background-color: #f09b47;
    text-transform: uppercase;
    text-emphasis-color: aqua;
    transform: translateY(10%);
    transform-style: flat;
}

/*====================================
           All Content
 ====================================*/

 /*====================================
           Post Cards
 ====================================*/

#post-card-id {
    margin: 10px;
    background-color: #5a0641;
    text-align: center;
    padding: .3em;
}

#post-card-id div {
    padding: .3em;
    background-color: rgb(236, 236, 236);
}

#post-card-id div h4 a {
    color: #e73abc;
    /*    font-family: 'Lato', sans-serif; */
    font-family: 'Oregano', cursive;
    font-stretch: ultra-expanded;
    font-weight: 800;
    font-style: italic;
}

#post-card-id div span p {
    text-align: justify;
}

#post-card-id:hover {
    transition-duration: 300ms;
    transform: translateY(-5px);
    box-shadow: 0px 5px 5px #888888;
    box-shadow: black;
}

/*====================================
           Post-details-card
 ====================================*/
#psot-details-card {
    

}
/*====================================
           Forms
 ====================================*/
.jumbo {
    padding: 2%;
}

.jumbo div h4 {
    font-family: 'Oregano', cursive;
    font-weight: bold;
}

.jumbo div p {
    text-align: justify;
    font-family: noto serif;
}

/*====================================
           About
 ====================================*/
 .content-box-lg .row {
     padding-bottom: 30px;
}
/*====================================
           Personal Statement
 ====================================*/

#statement{
    text-align: justify;
}

/*====================================
           Skills
 ====================================*/
 .skill {
    margin-bottom: 20px;
}

.skill h4 {
    line-height: 64px;
    margin: 0;
    font-weight: normal;
}

.progress {
    height: 25px;
    border-radius: 0;
    overflow: visible;
}

.progress-bar {
    background-color: #1b7c00;
    position: relative;
}

.progress-bar span {
    width: 28px;
    font-size: 11px;
    font-weight: 100;
    font-family: "Open Sans", "Sans-serif";
    background-color: darkcyan;
    color: white;
    font-weight: 600;
    padding: 3px;
    position: absolute;
    left: 96%;
    top: -35px;
}

.progress-bar span:before {
    content: "";
    border-top: 8px solid darkcyan;/*#212226*/
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    bottom: -8px;
    left: 32%;
}