/*====================================
           Html, Base
 ====================================*/
/*
title Lato Semibold Italic
on DejaVu Sans ExtraLight
text 
*/

/*====================================
           Preloader
 ====================================*/
#preloader {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#preloader-status {
    background-image: url("./static_images/Infinity_preloader.gif");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
}

/*====================================
           Static Background
 ====================================*/
#bg-img {
    background: url(./static_images/ground.jpg) no-repeat;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;

}

#overlayer {
    background-color: rgba(255, 227, 199, 0.6);
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
}

/*====================================
           Navbar
 ====================================*/
nav {
    background-color: #ffcc99;
    box-shadow: 0px 0px 5px #888888;
    font-family: noto serif;
    font-weight: Bold;
    font-style: italic;
}

#brand-id {
    font-size: 200%;
    padding: 0;
    margin:0 10px 0 0;
}

#logo-id {
    width: 45px;
    position: relative;
    transform: translateY(-3px);
}
#card-icon-id {
    padding-top: 0%;
    padding-bottom: 0%;
    border: 0%;
    margin-top: 5%;
    font-size: 1.6em;
    color: black;
}

nav div ul li a span {
    padding-left: 3%;
    padding-right: 3%;
    border: 0%;
    margin: 0%;
}

/*Animations
#brand-id:hover {
    animation-duration: 500ms;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border-bottom: #000000;
    color: orange;
}*/

nav div ul li a:hover {
    transition-duration: 300ms;
    border-radius: 1.2em;
    background-color: #f09b47;
    text-transform: uppercase;
    text-emphasis-color: aqua;
    transform: translateY(10%);
    transform-style: flat;
}

/*====================================
           All Content
 ====================================*/


/*====================================
           Post Cards
 ====================================*/

#post-card-id {
    margin: 10px;
    background-color: #5a0641;
    text-align: center;
    padding: .3em;
}

#post-card-id div {
    padding: .3em;
    background-color: rgb(236, 236, 236);
}

#post-card-id div h4 a {
    color: #e73abc;
    /*    font-family: 'Lato', sans-serif; */
    font-family: 'Oregano', cursive;
    font-stretch: ultra-expanded;
    font-weight: 800;
    font-style: italic;
}

#post-card-id div span p {
    text-align: justify;
}

#post-card-id:hover {
    transition-duration: 300ms;
    transform: translateY(-5px);
    box-shadow: 0px 5px 5px #888888;
    box-shadow: black;
}

/*====================================
           Forms
 ====================================*/
.jumbo {
    padding: 2%;
}

.jumbo div h4 {
    font-family: 'Oregano', cursive;
    font-weight: bold;
}

.jumbo div p {
    text-align: justify;
    font-family: noto serif;
}