{% extends "blog_app/base.html" %}
{% block body_block %}
<style>
    .divd h1,
    p {
        color: white;
    }
</style>
<div class="divd">
    <h1>About this company</h1>
    <p>Thank for checking it out!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis facilis eius corrupti et. Cumque enim blanditiis, eligendi suscipit non alias quam ab excepturi placeat a, aperiam vel nam dignissimos? Voluptatum?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis facilis eius corrupti et. Cumque enim blanditiis, eligendi suscipit non alias quam ab excepturi placeat a, aperiam vel nam dignissimos? Voluptatum?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis facilis eius corrupti et. Cumque enim blanditiis, eligendi suscipit non alias quam ab excepturi placeat a, aperiam vel nam dignissimos? Voluptatum?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis facilis eius corrupti et. Cumque enim blanditiis, eligendi suscipit non alias quam ab excepturi placeat a, aperiam vel nam dignissimos? Voluptatum?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis facilis eius corrupti et. Cumque enim blanditiis, eligendi suscipit non alias quam ab excepturi placeat a, aperiam vel nam dignissimos? Voluptatum?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis facilis eius corrupti et. Cumque enim blanditiis, eligendi suscipit non alias quam ab excepturi placeat a, aperiam vel nam dignissimos? Voluptatum?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis facilis eius corrupti et. Cumque enim blanditiis, eligendi suscipit non alias quam ab excepturi placeat a, aperiam vel nam dignissimos? Voluptatum?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis facilis eius corrupti et. Cumque enim blanditiis, eligendi suscipit non alias quam ab excepturi placeat a, aperiam vel nam dignissimos? Voluptatum?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis facilis eius corrupti et. Cumque enim blanditiis, eligendi suscipit non alias quam ab excepturi placeat a, aperiam vel nam dignissimos? Voluptatum?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis facilis eius corrupti et. Cumque enim blanditiis, eligendi suscipit non alias quam ab excepturi placeat a, aperiam vel nam dignissimos? Voluptatum?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis facilis eius corrupti et. Cumque enim blanditiis, eligendi suscipit non alias quam ab excepturi placeat a, aperiam vel nam dignissimos? Voluptatum?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis facilis eius corrupti et. Cumque enim blanditiis, eligendi suscipit non alias quam ab excepturi placeat a, aperiam vel nam dignissimos? Voluptatum?</p>
</div>
{% endblock body_block %}