{% extends "blog_app/base.html" %}
{% block body_block %}
{% load static %}

<!-- Header -->
<header>
    <nav class="navbar fixed-top navbar-expand-md">
        <div class="container">
            <span id="mobile-nav-open-btn">&#9776;</span>
            <a href="#" class="navbar-brand smooth-scroll">
                <img src="{% static 'images/logo/my-logo.png' %}" alt="logo">
            </a>

            <!-- menu -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="navbarNav">
                    <li><a href="#home" class="nav-link smooth-scroll">Home</a></li>
                    <li><a href="#about" class="nav-link smooth-scroll">About</a></li>
                    <li><a href="#skills" class="nav-link smooth-scroll">Skills</a></li>
                    <li><a href="#services" class="nav-link smooth-scroll">Services</a></li>
                    <li><a href="#portfolio" class="nav-link smooth-scroll">Portfolio</a></li>
                    <li><a href="#blog" class="nav-link smooth-scroll">Blog</a></li>
                    <li><a href="#contact" class="nav-link smooth-scroll">Contact</a></li>
                </ul>
            </div>

            <div id="mobile-nav">
                <!-- Mobile Menu Close Button -->
                <span id="mobile-nav-close-btn">&times;</span>
                <div id="mobile-nav-content">
                    <ul class="nav navbar-nav">
                        <li><a href="#home" class="nav-link smooth-scroll">Home</a></li>
                        <li><a href="#about" class="nav-link smooth-scroll">About</a></li>
                        <li><a href="#skills" class="nav-link smooth-scroll">Skills</a></li>
                        <li><a href="#services" class="nav-link smooth-scroll">Services</a></li>
                        <li><a href="#portfolio" class="nav-link smooth-scroll">Portfolio</a></li>
                        <li><a href="#blog" class="nav-link smooth-scroll">Blog</a></li>
                        <li><a href="#contact" class="nav-link smooth-scroll">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </nav>
</header>

<!-- Home section -->
<section id="home">
    <!-- home content-->
    <div id="home-content">
        <div id="home-content-inner" class="text-center">
            <div id="home-heading">
                <h1 id="home-heading-1">
                    <span id="home-heading-1-text">
                        <span>
                            I am Corious <span id="corious-span">Physicist</span>
                        </span>
                        <span>
                            I am Corious <span id="corious-span">Designer</span>
                        </span>
                        <span>
                            I am Corious <span id="corious-span">Programmer</span>
                        </span>
                        <span>
                            I am Corious <span id="corious-span">Web developer</span>.
                        </span>
                    </span>
                    <span id="typed-home-heading"></span>
                </h1><br>
            </div>
            <div id="home-text">
                <p>"The secret of genius is to carry the spirit of the child into old age, which means never losing your enthusiasm."<br>Aldous Huxley said</p>
            </div>
            <div id="home-btn">
                <a href="#about" class="btn btn-general btn-home smooth-scroll">Who I am</a>
            </div>
        </div>
    </div>
    <a href="#about" id="home-caret-down" class="smooth-scroll animate__animated animate__fadeInDown"><i class="fa fa-caret-down"></i></a>

</section>

<!-- About me section --> 
<section id="about">

    <!-- About 01 -->
    <div id="about-01">

        <div class="content-box-md">

            <div class="container">

                <div class="row">

                    <!-- About Left Side -->
                    <div class="col-lg-3 col-md-4">

                        <div id="about-left">
                            <div class="vertical-heading">
                                <h5>Get to know me</h5>
                                <h2><strong>Statement</strong><br>About me</h2>
                                <div id="my-img-warpper" class="container">
                                    <img id="me-img" src="{% static 'images/me1.JPG' %}" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- About Right Side -->
                    <div class="col-lg-9 col-md-8">

                        <div id="about-right">
                            <p>I had a passion for natural sciences since my childhood, but physics is my real passion. These words have become entrenched in my mind "physics is the rational description and the mathematical interpretation of nature, while the biggest significant goal of every physicist is to reach a real answer to the biggest significant question of physics; how does the universe work".</p>
                            <p>I graduated through the educational stages with distinction until I awarded my first class honours B.Sc degree in Physics. My interest in the Quantum Field Theory encouraged me to do my graduation project under the title of Compton Scattering in Quantum Electrodynamics. As I know how using computers can make progress in the scientific research that is impossible or very expensive without this usage, I have become interested in those fields that combine physics with computer science like Computational Physics, HPC, and Quantum Computing.</p>
                            <p>Also I have gone through multiple experiences related to group work from the problem solving groups to the graduation projects groups. So I have no doubt that teamwork is essential to speed up the progress of the scientific research.</p>
                            <p>Now, in conjunction with the process of self development, I am looking for opportunities in which I can be honored by contributing to advance the scientific research in the Physical Sciences, build a solid career and serve the Sudanese community in particular and the humanity as all.</p>
                        </div>

                    </div>

                </div>

                <!-- About Bottom -->
                <div class="row">
                    <div class="col-lg-12">

                        <div id="about-bottom">
                            <img src="{% static 'images/after_statement.png' %}" alt="About Us" class="img-fluid">
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- About 01 Ends -->
</section>

<!-- Skills section -->
<section id="skills">
    <div class="content-box-md">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="vertical-heading">
                        <h5>What I learned</h5>
                        <h2>My <strong>Skills</strong> &<br><strong>knowledge</strong></h2>
                    </div>
                </div>
                <div class="col-lg-8">
                    <p>I had a passion for natural sciences since my childhood, but physics is my real passion. These words have become entrenched in my mind "physics is the rational description and the mathematical interpretation of nature, while the biggest significant goal of every physicist is to reach a real answer to the biggest significant question of physics; how does the universe work" answer to the biggest significant question of physics; how does the universe work"answer to the biggest significant question to the biggest significant question of physics; how does the universe work"answer to the biggest.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="skill">
                        <h4>Math & Physics</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span>80%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="skill">
                        <h4>LaTex</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span>70%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="skill">
                        <h4>Python</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span>80%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="skill">
                        <h4>C, C++</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-animated" role="progressbar" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span>54%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="skill">
                        <h4>Java</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span>70%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="skill">
                        <h4>JavaScript</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-animated" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span>55%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="skill">
                        <h4>Django</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span>70%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="skill">
                        <h4>React</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-animated" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span>30%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="skill">
                        <h4>Data Structuers</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-animated" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span>40%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="skill">
                        <h4>Algorithms</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-animated" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span>40%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="skill">
                        <h4>GIMP</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-animated" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span>65%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="skill">
                        <h4>Inkscape</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-animated" role="progressbar" aria-valuenow="44" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span>44%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Statement section-->
<section id="statement">
    <div class="content-box-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="impress-statement" class="text-center">
                        <h3><i class="fa fa-quote-left"></i> I am convinced that science should be accessible to all. Always work to develop myself and learn new interesting stuffs, and ready to share knowledge with anyone who desire it. I also welcome those who want to collaborate in any project since they agree to accomplish and have fun simultaneously. <i class="fa fa-quote-right"></i></h3>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</section>

<!-- Services section-->
<section id="services">
    <div class="content-box-md">
        <div class="container">
            <div class="text-center">
                <div class="horizontal-heading">
                    <h5>What I can offer</h5>
                    <h2>my <strong>Services</strong> list</h2>
                </div>
            </div>
            <div class="row">
                <div id="services-tabs">
                    <ul class="text-center">
                        <li><a href="#service-tab-0">Development</a></li>
                        <li><a href="#service-tab-1">Teaching</a></li>
                        <li><a href="#service-tab-2">Design</a></li>
                        <li><a href="#service-tab-3">Documents</a></li>
                    </ul>

                    <div id="service-tabs-wrapper">
                        <!-- services tab 0 -->
                    <div id="service-tab-0" class="service-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img src="{% static 'images/services_images/service-img-1.jpg' %}" class="img-fluid" alt="">
                                </div>
                                <div class="col-lg-6">
                                    <div class="tab-bg">
                                        <h3>Documents preparation</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae possimus cumque provident ab architecto commodi harum omnis repellat, numquam porro, ad quidem sed amet. Quibusdam, voluptatem asperiores id at quia! lorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quae delectus facilis a molestiae ipsum iusto reprehenderit, autem facere error animi magnam odio temporibus, ducimus natus ipsa cumque eveniet assumenda!</p>
                                        <div id="divicon-carousel" class="owl-carousel">
                                            <div><i class="devicon-html5-plain"></i></div>
                                            <div><i class="devicon-css3-plain"></i></div>
                                            <div><i class="devicon-python-plain"></i></div>
                                            <div><i class="devicon-javascript-plain"></i></div>
                                            <div><i class="devicon-jquery-plain"></i></div>
                                            <div><i class="devicon-bootstrap-plain"></i></div>
                                            <div><i class="devicon-django-plain"></i></div>
                                        </div>
                                        <div id="services-btn">
                                            <a href="{% url 'services:request_new' %}" class="btn btn-general btn-service">Request this service</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- services tab 1 -->
                    <div id="service-tab-1" class="service-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img src="{% static 'images/services_images/service-img-1.jpg' %}" class="img-fluid" alt="">
                                </div>
                                <div class="col-lg-6">
                                    <div class="tab-bg">
                                        <h3>Teaching</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae possimus cumque provident ab architecto commodi harum omnis repellat, numquam porro, ad quidem sed amet. Quibusdam, voluptatem asperiores id at quia! lorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quae delectus facilis a molestiae ipsum iusto reprehenderit, autem facere error animi magnam odio temporibus, ducimus natus ipsa cumque eveniet assumenda!</p>
                                        <div id="divicon-carousel" class="owl-carousel">
                                            <div><i class="devicon-html5-plain"></i></div>
                                            <div><i class="devicon-css3-plain"></i></div>
                                            <div><i class="devicon-python-plain"></i></div>
                                            <div><i class="devicon-javascript-plain"></i></div>
                                            <div><i class="devicon-jquery-plain"></i></div>
                                            <div><i class="devicon-bootstrap-plain"></i></div>
                                            <div><i class="devicon-django-plain"></i></div>
                                        </div>
                                        <div id="services-btn">
                                            <a href="{% url 'services:request_new' %}" class="btn btn-general btn-service">Request this service</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- services tab 2 -->
                    <div id="service-tab-2" class="service-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img src="{% static 'images/services_images/service-img-1.jpg' %}" class="img-fluid" alt="">
                                </div>
                                <div class="col-lg-6">
                                    <div class="tab-bg">
                                        <h3>logos and graphics design</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae possimus cumque provident ab architecto commodi harum omnis repellat, numquam porro, ad quidem sed amet. Quibusdam, voluptatem asperiores id at quia! lorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quae delectus facilis a molestiae ipsum iusto reprehenderit, autem facere error animi magnam odio temporibus, ducimus natus ipsa cumque eveniet assumenda!</p>
                                        <div id="divicon-carousel" class="owl-carousel">
                                            <div><i class="devicon-html5-plain"></i></div>
                                            <div><i class="devicon-css3-plain"></i></div>
                                            <div><i class="devicon-python-plain"></i></div>
                                            <div><i class="devicon-javascript-plain"></i></div>
                                            <div><i class="devicon-jquery-plain"></i></div>
                                            <div><i class="devicon-bootstrap-plain"></i></div>
                                            <div><i class="devicon-django-plain"></i></div>
                                        </div>
                                        <div id="services-btn">
                                            <a href="{% url 'services:request_new' %}" class="btn btn-general btn-service">Request this service</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- services tab 3 -->
                    <div id="service-tab-3" class="service-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img src="{% static 'images/services_images/service-img-1.jpg' %}" class="img-fluid" alt="">
                                </div>
                                <div class="col-lg-6">
                                    <div class="tab-bg">
                                        <h3>Documents preparation</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae possimus cumque provident ab architecto commodi harum omnis repellat, numquam porro, ad quidem sed amet. Quibusdam, voluptatem asperiores id at quia! lorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quae delectus facilis a molestiae ipsum iusto reprehenderit, autem facere error animi magnam odio temporibus, ducimus natus ipsa cumque eveniet assumenda!</p>
                                        <div id="divicon-carousel" class="owl-carousel">
                                            <div><i class="devicon-html5-plain"></i></div>
                                            <div><i class="devicon-css3-plain"></i></div>
                                            <div><i class="devicon-python-plain"></i></div>
                                            <div><i class="devicon-javascript-plain"></i></div>
                                            <div><i class="devicon-jquery-plain"></i></div>
                                            <div><i class="devicon-bootstrap-plain"></i></div>
                                            <div><i class="devicon-django-plain"></i></div>
                                        </div>
                                        <div id="services-btn">
                                            <a href="{% url 'services:request_new' %}" class="btn btn-general btn-service">Request this service</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- portfolio section -->
<section id="portfolio">
    <div class="content-box-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    <div class="vertical-heading">
                        <h5>Work examples</h5>
                        <h2>Some of my <br>Finished <strong>Projects</strong></h2>
                    </div>
                </div>
                <div id="portfolio-p-wrapper" class="col-lg-7 col-md-12">
                    <p>I had a passion for natural sciences since my childhood, but physics is my real passion. These words have become entrenched in my mind "physics is the rational description and the mathematical interpretation of nature, while the biggest significant goal of every physicist is to reach a real answer to the biggest significant question of physics; how does the universe work" answer to the biggest significant question of physics; how does the universe work"answer to the biggest significant question to the biggest significant.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <!-- portofolio wrapper -->
            <section id="portofolio-wrapper">
                <div class="row no-gutters">

                    <div class="col-lg-3 col-md-4 col-sm-6">

                        <!-- portofolio item 01 -->
                        <div class="portofolio-item">

                            <a href="{% static 'images/portfolio/001.jpg' %}" title="Description">
                                <img src="{% static 'images/portfolio/001.jpg' %}" class="img-fluid" alt="portfolio 01">

                                <div class="portfolio-item-overlay">

                                    <div class="portofolio-item-details text-center">

                                        <!-- item header -->
                                        <h3>Logo & Design</h3>

                                        <!-- item strips -->
                                        <span></span>

                                        <!-- Description -->
                                        <p>Logo for sultan silver CO.</p>

                                    </div>

                                </div>
                            </a>

                        </div>

                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <!-- portofolio item 02 -->
                        <div class="portofolio-item">

                            <a href="{% static 'images/portfolio/002.jpg' %}" title="Description">
                                <img src="{% static 'images/portfolio/002.jpg' %}" class="img-fluid" alt="portfolio 02">

                                <div class="portfolio-item-overlay">

                                    <div class="portofolio-item-details text-center">

                                        <!-- item header -->
                                        <h3>Documents</h3>

                                        <!-- item strips -->
                                        <span></span>

                                        <!-- Description -->
                                        <p>A document</p>

                                    </div>

                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <!-- portofolio item 03 -->
                        <div class="portofolio-item">

                            <a href="{% static 'images/portfolio/003.jpg' %}" title="Description">
                                <img src="{% static 'images/portfolio/003.jpg' %}" class="img-fluid" alt="portfolio 03">

                                <div class="portfolio-item-overlay">

                                    <div class="portofolio-item-details text-center">

                                        <!-- item header -->
                                        <h3>Documents</h3>

                                        <!-- item strips -->
                                        <span></span>

                                        <!-- Description -->
                                        <p>A document</p>

                                    </div>

                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <!-- portofolio item 04 -->
                        <div class="portofolio-item">

                            <a href="{% static 'images/portfolio/004.jpg' %}" title="Description">
                                <img src="{% static 'images/portfolio/004.jpg' %}" class="img-fluid" alt="portfolio 04">

                                <div class="portfolio-item-overlay">

                                    <div class="portofolio-item-details text-center">

                                        <!-- item header -->
                                        <h3>Logo & Design</h3>

                                        <!-- item strips -->
                                        <span></span>

                                        <!-- Description -->
                                        <p>Logo for sultan silver CO.</p>

                                    </div>

                                </div>
                            </a>

                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-4 col-sm-6">
                       
                        <!-- portofolio item 05 -->
                        <div class="portofolio-item">

                            <a href="{% static 'images/portfolio/005.jpg' %}" title="Description">
                                <img src="{% static 'images/portfolio/005.jpg' %}" class="img-fluid" alt="portfolio 05">

                                <div class="portfolio-item-overlay">

                                    <div class="portofolio-item-details text-center">

                                        <!-- item header -->
                                        <h3>Logo & Design</h3>

                                        <!-- item strips -->
                                        <span></span>

                                        <!-- Description -->
                                        <p>Logo for sultan silver CO.</p>

                                    </div>

                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <!-- portofolio item 06 -->
                        <div class="portofolio-item">

                            <a href="{% static 'images/portfolio/006.jpg' %}" title="Description">
                                <img src="{% static 'images/portfolio/006.jpg' %}" class="img-fluid" alt="portfolio 06">

                                <div class="portfolio-item-overlay">

                                    <div class="portofolio-item-details text-center">

                                        <!-- item header -->
                                        <h3>Logo & Design</h3>

                                        <!-- item strips -->
                                        <span></span>

                                        <!-- Description -->
                                        <p>Logo for sultan silver CO.</p>

                                    </div>

                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <!-- portofolio item 07 -->
                        <div class="portofolio-item">

                            <a href="{% static 'images/portfolio/007.jpg' %}" title="Description">
                                <img src="{% static 'images/portfolio/007.jpg' %}" class="img-fluid" alt="portfolio 07">

                                <div class="portfolio-item-overlay">

                                    <div class="portofolio-item-details text-center">

                                        <!-- item header -->
                                        <h3>Logo & Design</h3>

                                        <!-- item strips -->
                                        <span></span>

                                        <!-- Description -->
                                        <p>Logo for sultan silver CO.</p>

                                    </div>

                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <!-- portofolio item 08 -->
                        <div class="portofolio-item">

                            <a href="{% static 'images/portfolio/008.jpg' %}" title="Description">
                                <img src="{% static 'images/portfolio/008.jpg' %}" class="img-fluid" alt="portfolio 08">

                                <div class="portfolio-item-overlay">

                                    <div class="portofolio-item-details text-center">

                                        <!-- item header -->
                                        <h3>Logo & Design</h3>

                                        <!-- item strips -->
                                        <span></span>

                                        <!-- Description -->
                                        <p>Logo for sultan silver CO.</p>

                                    </div>

                                </div>
                            </a>

                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
    
    <!-- records section -->
<section id="records">
    <div class="content-box-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <div class="horizontal-heading">
                            <h5>What I achieved</h5>
                            <h2>my <strong>Records</strong> pane</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <!-- record 01-->
                    <div class="records-item text-center">
                        <i class="fa fa-calendar-check"></i>
                        <h3 class="counter">5</h3>
                        <p>Finished projects</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <!-- record 02-->
                    <div class="records-item text-center">
                        <i class="fa fa-level-up-alt"></i>
                        <h3 class="counter">12</h3>
                        <p>Finished courses</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <!-- record 02-->
                    <div class="records-item text-center">
                        <i class="fa fa-laugh"></i>
                        <h3 class="counter">3</h3>
                        <p>Satisfied clients</p>
                    </div>
                </div>
                <div class="col-lg-3  col-md-6 col-sm-6 col-12">
                    <!-- record 02-->
                    <div class="records-item text-center">
                        <i class="fa fa-user-graduate"></i>
                        <h3 class="counter">5</h3>
                        <p>Recieved awards</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

</section>

<!-- Blog section-->
<section id="blog">
    <div class="content-box-lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    <div class="blog-left">
                       <div class="row">
                              <div class="vertical-heading col-md-5 col-lg-12">
                            <h5>My latest posts</h5>
                            <h2>Latest updates<br>From my <strong>Blog</strong></h2>
                        </div>
                        <div class="col-md-7 col-lg-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem a omnis expedita modi voluptate minus deserunt corporis repudiandae, </p>
                        <div id="blog-btn">
                            <a href="{% url 'post_list' %}" class="btn btn-general btn-blog">Visit my blog</a>
                        </div>
                        </div>
                        
                       </div>
                     
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <!-- blog post -->
                            <div class="blog-post">
                                <h4>Post title</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia quo, cumque tempora, minus sint aliquam odio, placeat possimus sed numquam sapiente, eveniet. Debitis 
                                </p>
                                <a href="#">Read more ></a>
                                <div class="post-meta">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-3 col-sm-6 col-6">
                                            <p>Author</p>
                                        </div>
                                        <div class="col-lg-6 col-md-9 col-sm-6 col-6">
                                            <p class="text-right">Pusblish date</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <!-- blog post -->
                            <div class="blog-post">
                                <h4>Post title</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia quo, cumque tempora, minus sint aliquam odio, placeat possimus sed numquam sapiente, eveniet. Debitis
                                </p>
                                <a href="#">Read more ></a>
                                <div class="post-meta">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-3 col-sm-6 col-6">
                                            <p>Author</p>
                                        </div>
                                        <div class="col-lg-6 col-md-9 col-sm-6 col-6">
                                            <p class="text-right">Pusblish date</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact section-->
<section id="contact">
    <div class="content-box-md">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div id="contact-left" class="row">

                        <div class="vertical-heading col-lg-12 col-md-4">
                            <h5>My contact info</h5>
                            <h2>Send Me<br>A <strong>Message</strong></h2>
                        </div>
                        <div class="col-lg-12 col-md-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque facere adipisci, velit perspiciatis necessitatibus omnis ipsam consequuntur ipsum  </p>
                        </div>

                        <div id="contact-info">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="info col-md-12">
                                        <h4>Sudan</h4>
                                        <ul class="info-details">
                                            <li><i class="fa fa-phone-alt"></i> (+249) 991 52 12 59</li>
                                            <li><i class="fa fa-envelope"></i> mfreelancersd@gmail.com</li>
                                            <li><i class="fa fa-map-marker"></i>Maona S.T, Wusta station.</li>
                                        </ul>
                                        <ul class="social-list">
                                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-github"></i></a></li>
                                            <li><a href="#"><i class="fab fa-telegram"></i></a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div id="contact-form">
                        <form method="POST">
                            {% csrf_token %}
                            <h4>Send message</h4>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        {% load widget_tweaks %}
                                        {% render_field form.visitor_name class="form-control input-field" name="visitor_name" placeholder="Name/Company name" %}
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        {% render_field form.visitor_email class="form-control input-field" name="visitor_email" placeholder="Email" %}
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        {% render_field form.visitor_phone class="form-control input-field" name="visitor_phone" placeholder="(+249) 991 52 12 59" %}
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        {% render_field form.message_subject class="form-control input-field" name="message_subject" placeholder="Message subject" %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {% render_field form.message_text type="textarea" class="form-control input-field" name="message_text" placeholder="You can write your message here." %}
                            </div>

                            <div id="message-btn">
                                <button type="submit" class="btn btn-general btn-blog">Send Message</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body_block %}
<!--
    <section id="personal-statment">
    <div class="content-box-lg">
        <div class="row">
            <div class="col-lg-3">
                <h1>Muhammad H. M. Ahmed</h1>
                <div id="my-image" data-aos="slide-right" data-aos-easing="ease-in-sine" data-aos-delay="0" data-aos-anchor=".row">
                <div>
                    <img src="{% static 'images/me.JPG' %}" class="img-fluid" alt="My image">
                  </div>
                </div>
            </div>

            <div class="col-lg-9">
                <div  id="statement" data-aos="fade-up">
                    <h2>Personal Statement</h2>
                    <p>I had a passion for natural sciences since my childhood, but physics is my real passion. These words have become entrenched in my mind "physics is the rational description and the mathematical interpretation of nature, while the biggest significant goal of every physicist is to reach a real answer to the biggest significant question of physics; how does the universe work".</p>
                    <p>I graduated in the educational stages with distinction until I awarded my first class honours B.Sc degree in Physics. My interest in the Quantum Field Theory encouraged me to do my graduation project under the title of Compton Scattering in Quantum Electrodynamics. As I know how using computers can make progress in the scientific research that is impossible or very expensive without this usage, I have become interested in those fields that combine physics with computer science like Computational Physics, HPC, and Quantum Computing.</p>
                    <p>Also I have gone through multiple experiences related to group work from the problem solving groups to the graduation projects groups. So I have no doubt that teamwork is essential to speed up the progress of the scientific research.</p>
                    <p>Now, in conjunction with the process of self development, I am looking for opportunities in which I can be honored by contributing to advance the scientific research in the Physical Sciences, build a solid career and serve the Sudanese community in particular and the humanity as all.</p>
                </div>
            </div>
        </div>
        <div class=".content-box-lg">
            <div class="row">
                <img src="{% static 'images/after_statement.png' %}" class="mx-auto d-block" data-aos="zoom-in" alt="After statement iamge">
        </div>
        </div>
    </div>
</section>
-->