{% extends "blog_app/base.html" %}
{% block body_block %}
<section id="comment-form">
  <div class="content-box-lg">
    <div class="container">
      <div id="contact-form">
        <form method="POST">
          {% csrf_token %}
          <h4>New Comment</h4>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                  {% load widget_tweaks %}
                  {% render_field form.author class="form-control input-field" name="author" placeholder="Your name" %}
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                {% render_field form.text type="textarea" class="form-control input-field" name="text" placeholder="Write your comment here (Be positive)." %}
              </div>
            </div>
            <div class="col-12">
              <div id="message-btn">
                <button type="submit" class="btn btn-general btn-blog">Add comment</button>
            </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock body_block %}  