{% extends "blog_app/base.html" %}
{% block body_block %}
{% load static %}
{% load blog_extras %}

<span id="top"></span>
<!-- Header -->
<header>
    <nav id="postlist-nav" class="navbar fixed-top nav-on-scroll navbar-expand-md">
        <div class="container">
            <span id="mobile-nav-open-btn">&#9776;</span>
            <a href="{% url 'about' %}" class="navbar-brand">
                <img src="{% static 'images/logo/my-logo.png' %}" alt="logo">
            </a>

            <!-- menu -->
            <div class="collapse navbar-collapse justify-content-end">
                <form class="form-inline" action="{% url 'post_list' %}">
                    <select name="select_q" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                        <option value="none" selected>Select category</option>
                        <option value="Physics">Physics</option>
                        <option value="Programming">Programming</option>
                        <option value="Django">Django</option>
                        <option value="Learning">Learning</option>
                        <option value="Tec talk">Tec talk</option>
                        <option value="Personal">Personal</option>
                    </select>
                    <input name="search_q" class="form-control mr-sm-2" type="search" placeholder="Search text goes here" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'post_new' %}" class="nav-link">New</a></li>
                        <li><a href="{% url 'draft_list' %}" class="nav-link">Drafts</a></li>
                        <li style="font-size: 25px;"> | </li>
                        <li><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
                    {% endif %}
                </ul>
            </div>

            <div id="mobile-nav">
                <!-- Mobile Menu Close Button -->
                <span id="mobile-nav-close-btn">&times;</span>
                <div id="mobile-nav-content">
                    <form class="form-inline" action="{% url 'post_list' %}">
                        <select name="select_q" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                            <option value="none" selected>Select category</option>
                            <option value="Physics">Physics</option>
                            <option value="Programming">Programming</option>
                            <option value="Django">Django</option>
                            <option value="Learning">Learning</option>
                            <option value="Tec talk">Tec talk</option>
                            <option value="Personal">Personal</option>
                        </select>
                        <input name="search_q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search text goes here</button>
                    </form>
                </div>
            </div>
        </div>

    </nav>
</header>
<section id="posts-list">
    <div class="content-box-lg">
        <div class="container-fluid">
            <div class="card-columns">
                {% for post in post_list %}
                <div class="">
                    <div class="blog-post card">
                        <h4><a href="{% url 'post_detail' pk=post.pk %}"><span>{{ post.title }}</span></a></h4>
                        <a href="{% url 'post_detail' pk=post.pk %}">
                            <img src="{{ post.image.url }}" class="img-fluid" alt="Post Image">
                        </a>
                        <p>{{ post.text|txt_prev:"250"|safe }}...</p>
                        <a href="{% url 'post_detail' pk=post.pk %}">Read more &#8827;</a>
                        <div class="post-meta">
                            <div class="row">
                                <div class="col-6">
                                    <p>{{ post.author }}</p>
                                </div>
                                <div class="col-6">
                                    <p class="text-right">{{ post.publish_date|date:"F" }}, {{ post.publish_date.day }}, {{ post.publish_date.year }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div id="not-found-msg" class="text-center">
                    
                    <i style="font-size: 50px;" class="fa fa-meh"></i>
                    <br>
                    
                    <p>No match found..!</p>
                </div>
                {% endfor %}
            
            </div>
        </div>
    </div>
</section>

<!-- back to top -->
<a href="#top" id="btn-back-to-top" class="animate__animated btn btn-sm btn-service smooth-scroll d-none d-md-block d-lg-block d-xl-block" title="home" role="button">
    <i class="fa fa-caret-square-up"></i>
</a>
{% endblock body_block %}
