{% extends "blog_app/base.html" %}
{% block body_block %}
{% load blog_extras %}
<section>
    <div class="content-box-lg">
        <div class="container">
            <div class="card-columns">
                {% for post in post_list %}
                <div class="">
                    <div class="blog-post card">
                        <h4><a href="{% url 'post_detail' pk=post.pk %}"><span>{{ post.title }}</span></a></h4>
                        <a href="{% url 'post_detail' pk=post.pk %}">
                            <img src="{{ post.image.url }}" class="img-fluid" alt="Post Image">
                        </a>
                        <p>{{ post.text|txt_prev:"250" }}...</p>
                        <a href="{% url 'post_detail' pk=post.pk %}">Read more ></a>
                        <div class="post-meta">
                            <div class="row">
                                <div class="col-lg-5 col-md-3 col-sm-6 col-6">
                                    <p>{{ post.author }}</p>
                                </div>
                                <div class="col-lg-7 col-md-9 col-sm-6 col-6">
                                    <p class="text-right">{{ post.publish_date }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
            </div>
        </div>
    </div>
</section>
{% endblock body_block %}
