{% extends "blog_app/base.html" %}

{% block body_block %}

<section id="log-in-section">
  <div class="content-box-lg">
    <div class="container">
      <div id="contact-form">
        <form method="POST">
          {% csrf_token %}
          <h4>Please log in:</h4>
          <h6>Only for the site SuperUsers, if not please don't use this form.</h6>
          {% if form.errors %}
          <script>
            alert("If you are not a SuperUser this is a Warning.\nYou are not authorized to use this form.")
          </script>
          {% endif %}
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                  {% load widget_tweaks %}
                  {% render_field form.username class="form-control input-field" name="username" placeholder="username"%}
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                {% render_field form.password class="form-control" name="password" placeholder="password"%}
              </div>
            </div>
            <div class="col-12">
              <div id="message-btn">
                <button type="submit" class="btn btn-general btn-blog">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock body_block %}