{% extends "blog_app/base.html" %}
{% block body_block %}
{% load static %}
<header>
  <nav class="navbar fixed-top nav-on-scroll navbar-expand-md">
      <div class="container">
          <span id="mobile-nav-open-btn">&#9776;</span>
          <a href="{% url 'about' %}" class="navbar-brand">
              <img src="{% static 'images/logo/my-logo.png' %}" alt="logo">
          </a>

          <!-- menu -->
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'post_list' %}" class="nav-link">Blog</a></li>
              <li style="font-size: 25px;"> | </li>
              <li><a href="{% url 'services:services' %}" class="nav-link">Services</a></li>
          </ul>
          </div>

          <div id="mobile-nav">
              <!-- Mobile Menu Close Button -->
              <span id="mobile-nav-close-btn">&times;</span>
              <div id="mobile-nav-content">
                <ul class="nav navbar-nav">
                  <li><a href="{% url 'post_list' %}" class="nav-link">Blog</a></li>
                  <li style="font-weight: 500; color: #fff;">-------------------</li>
                  <li><a href="{% url 'services:services' %}" class="nav-link">Services</a></li>
              </ul>
              </div>
          </div>
      </div>

  </nav>
</header>

<section id="request-form-section">
  <div class="content-box-md">
    <div class="container">
      <div id="contact-form">
        <form method="POST">
          {% csrf_token %}

          <h4>How I can help:</h4>

          <div class="row">

            <div class="col-lg-6">
              <div class="form-group">
                  {% load widget_tweaks %}
                  {% render_field form.visitor_name class="form-control input-field" name="visitor_name" placeholder="Name/Company name" %}
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                {% render_field form.visitor_email class="form-control input-field" name="visitor_email" placeholder="Email" %}
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                {% render_field form.visitor_phone class="form-control input-field" name="visitor_phone" placeholder="Phone e.g +249991521259" %}
              </div>
            </div>
            
            <div class="col-lg-6">
              <div class="form-group">
                {% render_field form.service_type class="custom-select input-field" name="service_type" %}
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                {% render_field form.service_description type="textarea" class="form-control input-field" name="service_description" placeholder="Please, descripe yor request here..." %}
              </div>
            </div>

            <div class="col-12">
              <div id="message-btn">
                <button type="submit" class="btn btn-general btn-blog">Submit request</button>
            </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock body_block %}