{% extends "blog_app/base.html" %}
{% block body_block %}

<section id="request-form-section">
  <div class="content-box-md">
    <div class="container">
      <div id="contact-form">
        <form method="POST">
          {% csrf_token %}

          {% if not post.pk %}
          <h4>New Post</h4>
          {% else %}
            <h4>Update post</h4>
          {% endif %}

          <div class="row">

            <div class="col-lg-6">
              <div class="form-group">
                  {% load widget_tweaks %}
                  {% render_field form.visitor_name class="form-control input-field" name="visitor_name" placeholder="Name/Company name" %}
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                {% render_field form.visitor_email class="form-control input-field" name="visitor_email" placeholder="Email" %}
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                {% render_field form.visitor_phone class="form-control input-field" name="visitor_phone" placeholder="Phone e.g +249991521259" %}
              </div>
            </div>
            
            <div class="col-lg-6">
              <div class="form-group">
                {% render_field form.service_type class="custom-select input-field" name="service_type" %}
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                {% render_field form.service_description type="textarea" class="form-control input-field" name="service_description" placeholder="Descripe yor service request as much as you can." %}
              </div>
            </div>

            <div class="col-12">
              <div id="message-btn">
                <button type="submit" class="btn btn-general btn-blog">Submit request</button>
            </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock body_block %}